# VS Code
.vscode/

# Other IDE
.idea/

# Python
__pycache__/
*.pyc

# Development
.venv/
.env

# No GeoPackages
*.gpkg*
*.bak

# Tests
*_generated_ui.py
temp-plugin-test-*
symbology-style.db

# Others
logging_level_debug.debug
accessibility_mode.ini
*.bat